/* Main CSS File - Update imports to include new files */

/* core styles */



/* Base */
@import './core/base/_base-component.css';
@import './core/base/_reset.css';
@import './core/base/_colors.css';
@import './core/base/_typography.css';
@import './core/base/_spacing.css';
@import './core/base/_variables.css';

/* Atoms */
@import './atoms/_avatar.css';
@import './atoms/_badge.css';
@import './atoms/_button.css';
@import './atoms/_chip.css';
@import './atoms/_icon.css';
@import './atoms/_input.css';
@import './atoms/_loading-spinner.css';
@import './atoms/_progress.css';
@import './atoms/_checkbox.css';
@import './atoms/_radio.css';
@import './atoms/_switch.css';
@import './atoms/_textarea.css';

/* Molecules */
@import './molecules/_card.css';
@import './molecules/_stat-card.css'; /* Add this line */
@import './molecules/_filter-group.css';
@import './molecules/_form-group.css';
@import './molecules/_list-item.css';
@import './molecules/_search-bar.css';
@import './molecules/_select.css';
@import './molecules/_tooltip.css';


/* Organisms */
@import './organisms/_app-header.css';
@import './organisms/_data-table.css';
@import './organisms/_form.css';
@import './organisms/_modal.css';
@import './organisms/_sidebar.css';
@import './organisms/_table.css';
@import './organisms/_user-profile.css';

/* Navigation */
@import './navigation/_breadcrumb.css';
@import './navigation/_drawer.css';
@import './navigation/_nav-menu.css';
@import './navigation/_pagination.css';
@import './navigation/_stepper.css';
@import './navigation/_tabs.css';

/* Feedback */
@import './feedback/_alert.css';
@import './feedback/_empty-state.css';
@import './feedback/_loading-overlay.css'; /* Add this line */
@import './feedback/_skeleton.css';
@import './feedback/_toast.css';
@import './feedback/_tooltip.css';

/* Layouts */
@import './layouts/_auth.css';
@import './layouts/_blank.css';
@import './layouts/_centered.css';
@import './layouts/_dashboard.css';
@import './layouts/_main.css';

/* Pages */
@import './pages/_attendance.css';
@import './pages/_auth.css';
@import './pages/_dashboard.css'; /* This should include analytics styles */
@import './pages/_error.css';
@import './pages/_login.css';
@import './pages/_students.css';
@import './pages/_users.css';



/* Themes */
@import './themes/_variables.css';
@import './themes/_light.css';
@import './themes/_dark.css';

